/* fonts */
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* general style */
body {
    font: 17px/25px "Source Sans Pro", Palatino, Georgia,serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
a {
    color: #222;
    text-decoration: underline;
    font-weight: 600;
}
a:hover {
    color: #11AA00;
}
img {
    border-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Boogaloo", Palatino, Georgia,serif;
    font-weight: 400;
    color: #222;
}
table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    background: #fafafa;
}
td, th {
    padding: 0px 0px;
    border: 1px solid #ddd;
}

/* Site header formatting */
div.header {
    margin-bottom: 0;
}
.header h1 {
    font-size: 1.6em;
    margin-top: 0;
}
.header h1 a {
    vertical-align: middle;
    text-decoration: none;
    font-weight: 200;
    color: #444;
}
.header h1 a img {
    vertical-align: middle;
}

/* Site navigation formatting */
.sitenav {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sitenav li {
    display: inline;
    margin: 0 2px;
    padding: 0;
}
.sitenav a {
    font-weight: 400;
}

/* Index page formatting */
.post-summary h1,
.post-summary p {
    display: inline;
}
.post-summary h1::after {
    content: " ";
}
.post-date time {
    text-align: right;
    float: right;
    color: #11AA00;
    font-size: 16px;

}

/* page/post detail page formatting */
h1.title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 0;
    margin-top: 0;
}
.small {
    font-size: 14px;
}

/* footer styles */
div.footer {
    margin-top: 10px;
    margin-bottom: 30px;
}
footer p {
    margin: 0;
    color: #555;
    font-size: 14px;
}
.footer hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

/* general code formatting. */
pre {
    background: none;
    padding: 0;
}
code, pre {
    font-family: Consolas,'Ubuntu Mono',monospace;
    font-size: 90%;
    color: #555;
    line-height: 21px;
}
table.codehilitetable {
    width: 100%;
    table-layout: fixed;
}
/* line number formatting for code samples */
td.linenos {
    padding: 12px 6px 0px 6px;
    width: 35px;
    vertical-align: top;
}
div.linenodiv pre {
    margin: 0;
}
/* code formatting for code samples */
td.code {
    white-space: nowrap;
    vertical-align: top;
}
div.codehilite {
    overflow-x: scroll;
    text-overflow: ellipsis;
    width: 100%;
}
div.codehilite pre {
    padding: 12px 12px;
    margin-top: 0;
    margin-bottom: 0;
}

/* Responsive layout changes */
@media handheld, only screen and (max-width: 767px) {
    /* Align navigation to left */
    .sitenav {
        float: none;
    }
    /* Align post date to left */
    .post-date time {
        float: none;
        text-align: left;
    }
}
