{% extends "base.html" %}

{% macro render_pagination(pagination) %}
{% if pagination %}
  <div class=pagination>
  <br />
  {% if pagination.has_prev %}
    <a href="{{ url_for_other_page(pagination.page - 1)
      }}">&laquo; Previous</a>
  {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>&hellip;</span>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <a href="{{ url_for_other_page(pagination.page + 1)
      }}">Next &raquo;</a>
  {% endif %}
  </div>
{% endif %}
{% endmacro %}

{% block content %}
<div class="grid grid-pad body">
    {% if title %}
        <section class="grid grid-pad">
        <header class="col-8-12 offset-2-12 title">{{ title|safe }}</header>
    {% endif %}
    {% with pages=pages %}
        {% include "_list.html" %}
    {% endwith %}
    <footer class="col-8-12 offset-2-12">
        {{ render_pagination(pagination) }}
    </footer>
        </section>
    <!--
    <div class=pagination>
      <span class=disabled>&laquo; Previous</span> &mdash; <strong>1</strong> &mdash; <a href="/page/2/">Next &raquo;</a>
    </div>
    -->
</div>
{% endblock content %}
