{% extends "base.html" %}
{% import 'dates.html' as dates %}

{% block title %}
    {{ page.title }}
{% endblock title %}

{% block blognav %} class="active"{% endblock blognav %}

{% block content %}
<div class="grid grid-pad body">
  <article class="col-8-12 offset-2-12">
    <h1 class="title">{{ page.title }}</h1>
    {{ page.html|safe }}
    <p class="tags">
        {% for tag in page.tags %}
          {% if loop.index0 %}
              Tags: 
          {% endif %}
          <a href="{{ url_for('tag', tag=tag) }}">{{ tag }}</a>
        {% endfor %}
    </p>
  </article>
</div>
{% endblock content %}
