{% extends "base.html" %}
{% import 'dates.html' as dates %}

{% block title %}
    {{ page.title }}
{% endblock title %}

{% block blognav %} class="active"{% endblock blognav %}

{% block content %}
  <h1 class="title">{{ page.title }}</h1>
  {{ page.html|safe }}
  <p class="tags">
      {% for tag in page.tags %}
        {% if loop.index0 %}
            Tags: 
        {% endif %}
        <a href="{{ url_for('tag', tag=tag) }}">{{ tag }}</a>
      {% endfor %}
  </p>
{% endblock content %}
