{% extends "base.html" %}
{% import 'dates.html' as dates %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block blognav %} class="active"{% endblock blognav %}

{% block content %}
  <article class="col-1-1">
    <h1 class="title">{{ post.title }}</h1>
    <time pubdate="pubdate" class="verbose-date">
      written on {{ dates.pretty_day_date(post.date) }}
    </time>
    {{ post.html|safe }}
    {% if post.tags %}
    <p class="tags">Tags: 
      {% for tag in post.tags %}
        <a href="{{ url_for('tag', tag=tag) }}">{{ tag }}</a>
      {% endfor %}
    </p>
    {% endif %}
  </article>
{% endblock content %}
